---
const {text} = Astro.props;
---

<button>{text}</button>

<style>
  button {
  
  }

  button {
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  
  padding: 0.75em 3em;
  background-color: #FFF;
    color:#1DBF73 ;
    box-shadow: 0px 4px 4px 0px #1DBF73;
  
  border: none;
  border-radius: .75rem;
  border-radius: 1rem;
  
  cursor: pointer;


}

</style>