---
// Supports weights 100-900
import '@fontsource-variable/archivo';


import Meta from '../components/Meta.astro';

import Hero from '../components/Hero.astro';
import Nav from '../components/Nav.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Meta />
    <title>AutoSynth.tech</title>
    <head>
  <body>
	<Nav />
	<Hero tagline="Empowering Growth"/>	
	
  </body>
</html>

<style>
  :global() {
	@font-face {
	  font-family: 'Archivo';
	  font-style: normal;
	  font-weight: 100 900;
	  font-display: swap;
	  src: url('/fonts/Archivo-VariableFont_wght.ttf') format('truetype');
	}
  }
  body {
	font-family: 'Archivo', sans-serif;
  }
</style>