---

---

<section>
    <div id="logo">
        <img src="/logo.svg" alt="AutoSynth Logo" width="100px">
        <h1>AutoSynth<br><span>AI Advantage</span></h1>
    </div>
    <div>
        <h1>Navigate</h1>
        <p>Home</p>
        <p>About</p>+
        <p>Services</p>
        <p>Contact</p>
    </div>
    <div>
        <h1>Email</h1>
        <p>reach@autosynth.tech</p>
        <h1>Address</h1>
        <p>Etobicoke, Canada</p>
    </div>
    <div>
        <h1>Socials</h1>
        <p>LinkedIn</p>
    </div>
</section>

<div class="hygiene">
    <h5>©AutoSynth AI Solutions</h5>
    <div id="hygiene">
        <h5>Privacy Policy</h5>
        <h5>Terms of Service</h5>
        <h5>Cookie Settings</h5>
    </div>


</div>

<style>
section {
        display: flex;
        justify-content: space-around;        
        align-items: top;
    }

span {
    font-weight: 200;
}

h1 {
    font-weight: 900;
    font-size: 1rem;
}
#logo {
    display: flex;
    align-items: top;
}

img {
    margin-right: 10px;
    justify-content: top;

    margin-top: -7rem;

}

.hygiene {

display: flex;
justify-content: space-around;
align-items: center;

border-top: 1px solid #000000;


}

#hygiene {
    display: flex;
    gap: 2rem;

}

h5 {
font-weight: 500;

}
</style>