---

---

<section>
    <h2>MEET <span id="green">THE TEAM</span></h2>
    <div class="members">
        <div id="member">
            <h4>Samuel Francis</h4>
            <h5>Lead Developer</h5>
        </div>
        <div id="member">
            <h4>Noel Philip </h4>
            <h5>Head of Operations</h5>
        </div>
        <div id="member">
            <h4>Kevin Kagoo</h4>
            <h5>Product Engineer</h5>
        </div>
    </div>

</section>

<style>

section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

height: 90dvh;
width: auto;

}

.members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

#member {
    text-align: center;
}

h2 {
	font-size: 3.15rem;
    font-weight: 900;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    line-height: .25ch;
}

h5 {
    font-size: .75rem;
    font-weight: 500;
    line-height: .25ch;
}
#green {
        color: #1DBF73;
}


</style>